@import '../../../../styles/mixin.scss';


$font-color: #cecece;
$background-main: #1a182d;
$background-item: #22212F;
.weather-app {
    color: EDEDED;
    max-width: 100%;
    height: 100%;
    background: #1a182d;
    border: 1px solid #f68e00;
    border-radius: 1.4rem;
    padding: 0% 4% 3% 4%;
    position: relative;
    overflow: hidden;

    &__header{
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
    }
    &__header-img{
        height: 150%;
    }
    &__search-bar{
        padding-left: 2.5%;
        width: 24%;
        height: 100%;
        background-color: $background-item;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img{
            width: 33%;
            height: 101%;
        }
        input{
            background-color: $background-item;
            @include adaptiv-font-app(26, 8);
            font-weight: bold;
            color: $font-color;
            height: 100%;
            min-width: 60%;
            display: inline-block;
            padding-left: 6.5%;

        }
    }
    &__title{
        width: 24%;
        height: 100%;
        background-color: $background-item;
        border-radius: 20px;
        @include adaptiv-font-app(26, 8);
        color: $font-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-weight: bold;
        }
    }
    &__weather-today-container{
        width: 100%;
        height: 42%;
        background: $background-item;
        border: 1px solid #f68e00;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    &__weather-today-carousel-container{
        height: 100%;
        width: 200%;
        display: flex; 
    }
    &__carousel-content{
        width: 50%;
        height: 100%;
    }
    &__weather-today-title{
        color: $font-color;
        @include adaptiv-font-app(20, 8);
        padding: 1.5% 3.5% 0 3.5%;
        display: flex;
        justify-content: space-between;
    }
    &__weather-today-city{
        font-weight: bold;
        text-align: center;
    }
    &__weather-today{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
        padding: 0 3%;
        .weather-hour{
            height: 70%;
            width: 8%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include adaptiv-font-app(18, 6);
            padding: 0.5% 0;
            color: $font-color;
            position: relative;
            &__status-img{
                width: 60%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &__line{
                width: 0.6%;
                height: 70%;
                border-radius: 15px;
                background-color: $background-main;
            }
            &__line--small{
                height: 35%;
            }
        }

        .weather-hour:hover :after{
            position: absolute;
            content: '';
            height: 1%;
            width: 100%;
            background-color: #f68e00;
            opacity: 1;
            bottom: -10%;
            left: 0;
        }
    }
    &__weather-week{
        margin-top: 2%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 31%;
        width: 100%;
        .weather-day-card-animation{
            width: 100%;
            height: 100%;
            transition: opacity 0.5s; 
        }
        .weather-day-card-animation.opacity{
            opacity: 0;
        }
        .weather-day-card{
            width: 20%;
            height: 100%;
            background-color: $background-item;
            border: 1px solid #f68e00;
            border-radius: 0.8rem;
            color: $font-color;
            @include adaptiv-font-app(14, 6);
            padding: 1.5% 1% 1.5% 1.5%;

            &__status{
                width: 100%;
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
            }
            &__status-img{
                width: 25%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &__title{
                @include adaptiv-font-app(18, 6);
                padding-right: 10px;
                
            }
        }
        .weather-day-card:hover{
            padding: calc(1.5% - 1px) calc(1% - 1px) calc(1.5% - 1px) calc(1.5% - 1px);
            border: 2px solid #f68e00;
        }
        .weather-day-card.select-border{
            padding: calc(1.5% - 1px) calc(1% - 1px) calc(1.5% - 1px) calc(1.5% - 1px);
            border: 2px solid $font-color;
        }
    }
}
.weather-hour-detail{
    height: 100%;
    color: $font-color;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    &__detail{
        display: flex;
        width: 70%;
        height: 100%;
        flex-wrap: wrap;
        @include adaptiv-font-app(14, 5);
        align-items: center;
    }
    &__line{
        width: 0.6%;
        height: 100%;
        border-radius: 15px;
        background-color: $background-main;
        margin: 0 2%;
    }
    &__image{
       float: left;
        margin-right: 5%;
        width: 20%;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__title{
        margin-bottom: 2.5%;
    }
    &__header-container{
        display: flex;
        width: 30%;
        height: 100%;
        flex-direction: column;
        align-self: flex-start;
        justify-content: space-between;
    }
    &__header{
        height: 35%;
        width: 100%;
        @include adaptiv-font-app(20, 3);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__img-status{
        height: 60%;
        align-self: center;
    }
    &__img{
        height: 100%;
        img{
            height: 100%;
            width: auto;
        }
    }
}
.detail-p{
    width: 33.3%;
}
.detail-p:nth-child(-n+3){
    margin-bottom: 2%;
}

.incard{
    height: 20%;
    margin-bottom: 5%;
    width: 50%;
    display: inline-flex;
    align-items: center;
    //justify-content: center;
}
.card-img-container{
    display: inline-block;
    height: 100%;
    margin-right: 7px;
    img{
        width: auto;
        height: 100%;
    }
}
.weather {
    width: 80vw;
    height: 35vw;
    margin: 0 auto;
}
.city-​​not-found{
    width: 20%;
    color: $font-color;
    @include adaptiv-font-app(18, 6);
    text-align: center;
    height: 3.5%;
    margin-bottom: 1.5rem;
    margin-left: 15%;
    padding-top: 0.5rem;
}

.slideSource {
    height: 25px;
    line-height: 25px;
    padding: 0.7% 0;
    border: 1px solid $font-color;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s; 
    background-color: $background-item;
  }
.slideSource.red{
    border: 1px solid #f60000;

  }
.slideSource.fade {
    opacity: 1;
  }
.close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity 0.5s; 
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #f68e00;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
@media (max-width: 1920px){
    .weather-app{
        padding: 0 4% 4% 4%;
    }
}
@media (max-width: 992px){
    .weather{
        width: 85vw;
        height: 85vh;
    }
    .weather-app {
        padding:1.5%;
        &__weather-week{
            margin-top: 3%;
            flex-wrap: wrap;
            height: 42%;
            width: 100%;
            .weather-day-card{
                width: 49%;
                margin-bottom: 2%;
                height: 46%;
                padding: 2% 5% 1% 5%;
                @include adaptiv-font-app(14, 12);
                &__status{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-self: flex-start;
                }
                &__status-img{
                    width: 25%;
                    margin-bottom: 0;
                }
                &__title{
                    width: 50%;
                    padding-left: 12%;
                    padding-right: 0;
                    @include adaptiv-font-app(20, 16);
                }
            }
            .weather-day-card-animation{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
            }
            .weather-day-card:hover{
                padding: calc(2% - 1px) calc(5% - 1px) calc(1% - 1px) calc(5% - 1px);
            }
            .weather-day-card.select-border{
                padding: calc(2% - 1px) calc(5% - 1px) calc(1% - 1px) calc(5% - 1px);
            }

        }
        &__header {
            height: 5.5%;
            margin-bottom: 5%;
        }
        &__search-bar, &__title {
            width: 33%;
            @include adaptiv-font-app(26, 18);
        }
        input{
            @include adaptiv-font-app(26, 18);
        }
        &__weather-today-title{
            @include adaptiv-font-app(20, 20);
            padding: 0;
            display: flex;
            align-items: center;
            height: 10%;
            margin-top: 2%;
        }
        &__weather-today-title *{
            width: 33.3%;
            text-align: center;
        }
        &__weather-today{
            height: 85%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: space-between;
            margin-bottom: 2%;
            padding: 0 3%;
            .weather-hour{
                height: 40%;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                @include adaptiv-font-app(16, 15);
                &__time{
                    order: 2;
                    margin-bottom: 0.1rem;
                }
                &__status-img{
                    order: 1;
                    height: 55%;
                    width: auto;
                    margin-bottom: 7%;
                    img{
                        height: 100%;
                        width: auto;
                    }
                }
                &__temperature{
                    order: 3;
                }
                &__line{
                    display: none;
                }
            }
            .weather-hour:hover :after{
                height: 2%;
                width: 50%;
                bottom: -10%;
                left: 25%;
            }
        }
    }
    .city-​​not-found{
        height: 2%;
    }
    .weather-hour-detail{
        flex-wrap: wrap;
        &__detail{
            width: 75%;
            flex-wrap: wrap;
            align-items: flex-start;
            @include adaptiv-font-app(14, 12);
            line-height: 1.2rem;
        }
        &__image{
            margin-bottom: 10%;
        }
        &__line{
            display: none;
        }
        &__title{
            @include adaptiv-font-app(18, 14);
            margin-bottom: 2.5%;
        }
        &__header-container{
            width: 25%;
            justify-content: space-between;
            padding-right: 3%;
        }
        &__header{
            height: 45%;
            padding: 1% 0;
            @include adaptiv-font-app(18, 14);
            display: flex;
            justify-content: space-around;
        }
        &__img-status{
            height: 50%;
        }
        &__img{
            height: 75%;
            img{
                height: 100%;
                width: auto;
            }
        }
    }
    .detail-p{
        width: 50%;
        height: 33%;
    }
    .incard{
        width: 50%;
        height: 20%;
        margin-bottom: 0;
        @include adaptiv-font-app(16, 11);
    }
    .card-img-container{
        display: inline-block;
        height: 100%;
        margin-right: 7%;
        img{
            width: auto;
            height: 100%;
        }
    }
}
@media (max-width: 480px) {
    .weather-app{
        &__weather-today-title{
            @include adaptiv-font-app(20, 14);
        }
        &__weather-today{
            .weather-hour{@include adaptiv-font-app(16, 11);}
        }
        .weather-hour-detail{
            &__title{
                @include adaptiv-font-app(16, 12);
            }
            .detail-p{
                @include adaptiv-font-app(16, 8);
            }
            &__header{
                @include adaptiv-font-app(16, 12);
            }
        }   
    }
}

/* Iphone 5 */
@media (max-width: 360px) {
    .weather-app{
        &__weather-today-title{
            @include adaptiv-font-app(20, 11);

        }
        &__weather-week{
            margin-top: 3%;
            .weather-day-card{
                padding: 2% 5% 1% 5%;
                &__title{
                    @include adaptiv-font-app(16, 12);
                }
            }
            .incard{
                @include adaptiv-font-app(16, 8);   
            }
        }
        input{
            @include adaptiv-font-app(16, 12);
        }
        &__title{
            @include adaptiv-font-app(16, 12);
        }
        &__weather-today{
            .weather-hour{@include adaptiv-font-app(16, 8);}
        }
        .weather-hour-detail{
            &__header-container{
                justify-content: space-around;
            }
            padding: 3.5% 1.5%;
            &__detail{
                line-height: 0.8rem;
            }
            &__title{
                @include adaptiv-font-app(16, 10);
                margin-bottom: 0.7%;
            }
            .detail-p{
                @include adaptiv-font-app(16, 8);
            }
            &__img-status{
                height: 30%;
            }
            &__header{
                @include adaptiv-font-app(16, 10);
            }
        }   
    }
    .close {
        position: absolute;
        right: 30px;
        top: 7.5px;
        width: 10px;
        height: 10px;
        opacity: 0.5;
        transition: opacity 0.5s;
    }
}