@import '../../../../styles/mixin.scss';


$font-color: #cecece;
$background-main: #1a182d;
$background-item: #22212F;
.weather-app {
    color: EDEDED;
    max-width: 100%;
    height: 100%;
    background: #1a182d;
    border: 1px solid #f68e00;
    border-radius: 1.4rem;
    padding: 4rem 4rem 2rem 4rem;
    &__header{
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
    }
    &__header-img{
        height: 150%;
    }
    &__search-bar{
        padding-left: 2.5%;
        width: 24%;
        height: 100%;
        background-color: $background-item;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img{
            width: 33%;
            height: 101%;
        }
        input{
            background-color: $background-item;
            @include adaptiv-font-app(26, 8);
            font-weight: bold;
            color: $font-color;
            height: 100%;
            max-width: 100%;
            display: inline-block;
            padding-left: 6.5%;

        }
    }
    &__title{
        width: 24%;
        height: 100%;
        background-color: $background-item;
        border-radius: 20px;
        @include adaptiv-font-app(26, 8);
        color: $font-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-weight: bold;
        }
    }

    &__weather-today{
        width: 100%;
        height: 40%;
        background: $background-item;
        border: 1px solid #f68e00;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
        padding: 0 3%;
        .weather-hour{
            height: 70%;
            width: 8%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include adaptiv-font-app(18, 6);
            padding: 0.5% 0;
            color: $font-color;
            
            &__status-img{
                width: 60%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &__line{
                width: 0.6%;
                height: 70%;
                border-radius: 15px;
                background-color: $background-main;
            }
            &__line--small{
                height: 35%;
            }
            
        }
        .weather-hour:hover{
            border-bottom: 2px solid #f68e00;


        }
    }
    &__weather-week{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35%;
        width: 100%;
        .weather-day-card{
            width: 20%;
            height: 100%;
            background-color: $background-item;
            border: 1px solid #f68e00;
            border-radius: 0.8rem;
            color: $font-color;
            @include adaptiv-font-app(16, 6);
            padding: 1.5% 1% 1.5% 1.5%;

            &__temperature{}
            &__drop{}
            &__humidity{}
            &__wind{}
            &__status{
                width: 100%;
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
            }
            &__status-img{
                width: 25%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &__title{
                @include adaptiv-font-app(18, 6);
                padding-right: 10px;
                
            }
        }
    }
}
.incard{
    height: 20%;
    margin-bottom: 5%;
    min-width: 45%;
    display: inline-flex;
    align-items: center;
}
.card-img-container{
    display: inline-block;
    height: 100%;
    margin-right: 7px;
    img{
        width: auto;
        height: 100%;
    }
}
.weather {
    width: 80vw;
    height: 35vw;
    margin: 0 auto;
}

@media all and (max-width: 992px){
    .weather{
        width: 90vw;
        height: 85vh;
    }
    .weather-app {
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        &__weather-week{
            .weather-day-card{
                width: 24%;
                padding: 1.5% 1% 1.5% 1.5%;
            }
        }
    }
}