.todolist-container{
    width: 35%;
    height: 90%;
    margin: 0 auto;
}
.todo-app{
    width: 100%;
    height: 100%;
    background: linear-gradient(140.6deg, #22212F 0.77%, #22212F 0.78%, #1A182D 100%);
    border: 1px solid #F68E00;
    border-radius: 24px;
    font-family: Consolas;
    color: #c4c4c4;
    &__header{
        position: relative;
        margin-top: 5vh;
        margin-bottom: 8vh;
        width: 100%;
        font-size: 2.5vw;
        h1{
            text-align: center;
        }
    }
    &__header::after{
        content: '';
        width: 30%;
        height: 2px;
        background-color: #F68E00;
        position: absolute;
        top: 8vh;
        left: 35%;
    }
    &__todos{
        //overflow: auto;
        padding: 0 4vw;
        height: 70%;
        .children{
            margin-left: 10%;
        }
    }
    .todos-do{
        &__container{
            width: 100%;
            min-height: 6.5vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            flex-wrap: wrap;
        }
        &__checkbox-label{
            width: 80%;
            margin-left: 2vw;
            padding: 2vh 0;
            font-size: 1.2vw;
        }
        &__btn-down{
            width: 1vw;
            img{
                width: 100%;
                height: auto;
            }
        }
        &__line{
            width: 100%;
            height: 1.5px;
            background-color: #FFC26E;
        }
    }
    
    input{
        transform:scale(1.3);
    }
    
}