.todolist-container {
    width: 35%;
    height: 90%;
    margin: 0 auto;
}
.todo-app {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(140.6deg, #1b1a26 0.77%, #171623 0.78%, #283143 100%);
    border: 1px solid #abb2bf;
    border-radius: 24px;
    font-family: Consolas;
    color: #abb2bf;
    &__header {
        color: #e06c75;
        position: relative;
        margin-top: 5%;
        margin-bottom: 2%;
        width: 100%;
        height: 9%;
        font-size: 2.5vw;
        h2 {
            text-align: center;
        }
    }
    &__header::after {
        content: "";
        width: 30%;
        height: 2px;
        background-color: #abb2bf;
        position: absolute;
        bottom: 0;
        left: 35%;
    }
    &__todos {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        padding: 0 0 2vw 5vw;
        height: 73%;
        position: relative;
    }
    &__todos::-webkit-scrollbar {
        width: 5px;
    }

    &__todos::-webkit-scrollbar-track {
        border-bottom: 2px solid #7c7c7c;
        border-top: 2px solid #7c7c7c;
    }

    &__todos::-webkit-scrollbar-thumb {
        background: #939393;
    }

    &__todos::-webkit-scrollbar-thumb:hover {
        background: #7c7c7c;
    }

    &__menu {
        width: 100%;
        height: 10%;
        margin: 0 auto;
        position: relative;
    }
    &__menu::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 90%;
        top: 0;
        left: 5%;
        background-color: #abb2bf;
    }
    .menu {
        &__container {
            width: 200%;
            height: 100%;
            position: relative;
            display: flex;
            transition: margin-left 1s;
        }
        &__main-item-container {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 50%;
            padding: 0.9em 2.5em;
        }
        &__forlders {
            position: relative;
        }
        &__button {
            height: 100%;
            width: 33.3%;
            cursor: pointer;
        }
        &__filter-container {
            height: 200%;
            width: 100%;
            transition: margin-top 0.25s ease;
        }
        &__filter {
            height: 100%;
            cursor: auto;
            align-self: flex-start;
            overflow-y: hidden;
            .filter {
                &__container {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    position: relative;
                }
                &__input {
                    width: 85%;
                    height: 50%;
                    padding: 1% 15% 1% 3%;
                    background-color: transparent;
                    border: 2px solid #e06c75;
                    border-radius: 0.5em;
                    color: #abb2bf;
                    font-size: 0.8vw;
                }
                &__submit {
                    cursor: pointer;
                    height: 50%;
                    padding: 4px 0;
                    margin: 0 4px;
                    background-color: transparent;
                    position: absolute;
                    top: 0;
                    right: 16%;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                &__clear {
                    cursor: pointer;
                    display: inline-block;
                    margin-left: 5%;
                    width: 10%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &__close {
                    height: 35%;
                    width: 100%;
                    text-align: center;
                    margin-top: 5%;
                    img {
                        height: 100%;
                        width: auto;
                        cursor: pointer;
                    }
                }
            }
        }

        &__content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2vw;
            cursor: pointer;
        }
        &__content > img {
            height: 100%;
            width: auto;
        }
        &__filter-content {
            height: 50%;
        }
        &__button:nth-child(1) {
            border-right: 1px solid #abb2bf;
        }
        &__button:nth-child(3) {
            border-left: 1px solid #abb2bf;
        }
        &__content:hover {
            color: rgb(228, 183, 187);
        }
        &__del-buttons {
            display: flex;
            justify-content: space-between;
            width: 35%;
            height: 70%;
            padding: 0.1em;
            img {
                width: auto;
                height: 100%;
            }
        }
        &__add {
            height: 100%;
            width: 50%;
            padding: 1em 2em;
            &__main-container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
            }
            &__form {
                width: 60%;
                height: 80%;
                position: relative;
            }
            &__form::before {
                content: "";
                position: absolute;
                height: 35%;
                width: 2px;
                right: 15%;
                top: 32.5%;
                background-color: #e06c75;
            }
            &__npt {
                background-color: transparent;
                color: #abb2bf;
                font-size: 1vw;
            }
            &__input {
                border: 2px solid #e06c75;
                border-radius: 0.5em;
                padding-left: 0.8em;
                padding-right: 17%;
                width: 100%;
                height: 100%;
            }
            &__submit {
                cursor: pointer;
                position: absolute;
                right: 0;
                height: 100%;
                width: 15%;
                text-align: center;
            }

            &__submit:hover,
            &__submit:focus,
            &__marks:hover,
            &__marks:focus {
                .menu__add__marks-title {
                    color: rgb(228, 228, 228);
                }
            }
            &__marks {
                height: 80%;
                width: 20%;
                display: inline-block;
                border: 2px solid #e06c75;
                padding-bottom: -5px;
                border-radius: 0.5em;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__close {
                cursor: pointer;
                border: 2px solid #e06c75;
                border-radius: 5px;
                padding: 0.8%;
                height: 65%;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    .todos-do {
        overflow-x: hidden;
        overflow-y: auto;
        width: 200%;
        display: flex;
        &__container {
            padding-left: 2px;
            width: 50%;
            min-height: 6.5vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            flex-wrap: wrap;
            padding-right: 5vw;
        }
        &__checkbox-label {
            margin-left: 0.3em;
        }

        &__btn-down {
            cursor: pointer;
            width: 1.3vw;

            img {
                width: 100%;
                height: auto;
            }
        }
        &__btn-menu {
            cursor: pointer;
            width: 1.3vw;
            margin-left: 0.5em;
            position: relative;
            margin-right: 0.3em;

            img {
                width: 100%;
                height: auto;
            }
        }
        &__popup-menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 180px;
            background-color: #171623;
            border: 2px solid #e06c75;
        }
        &__add-child {
            position: absolute;
            top: 2vh;
            right: 7%;
            cursor: pointer;
            width: 1.5vw;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__child .todos-do__add-child {
            right: 7%;
        }
        &__add-child.drag-hover {
            width: 1.7vw;
            right: calc(7% - 0.1vw);
        }
        &__line {
            width: 100%;
            height: 1.5px;
            background-color: #e06c75;
        }
        &__child {
            transition: opacity 0.25s ease;
            opacity: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 5%;
            .todos-do {
                &__container {
                    padding-right: 0;
                }
                &__sub-menu {
                    padding-right: 0;
                }
                &__sub-menu::after {
                    width: 75%;
                }
            }
        }
        &__sub-menu {
            width: 50%;
            min-height: 6.5vh;
            padding: 1em 0 1em 0;
            padding-right: 5vw;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
        }
        &__sub-menu::after {
            content: "";
            width: calc(75% - 5vw);
            height: 1.5px;
            background-color: #e06c75;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &__sub-menu-content {
            width: 70%;
            position: relative;
            padding: 0 1vw;
        }
        &__sub-menu-without-content {
            padding-left: 1vw;
            height: 1em;
            font-style: italic;
        }
        span {
            cursor: pointer;
        }
        span:hover {
            color: rgb(228, 183, 187);
        }
        .cls-mark {
            color: #e06c75;
        }
        &__sub-menu-btn {
            cursor: pointer;
            width: 6%;
            img {
                height: auto;
                width: 100%;
            }
        }
        &__sub-menu-btn-cls {
            transform: rotate(180deg);
        }
    }
    &__depth-cls {
        position: absolute;
        z-index: 100;
        width: 4vw;
        height: 90%;
        top: 5%;
        right: 0;
        border: 2px dotted #abb2bf;
    }
    &__depth-cls-img {
        width: 70%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: auto;
        }
    }
}

.marks-list {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 150px;
    height: 180px;
    background-color: #171623;
    border: 2px solid #e06c75;
    border-radius: 0.5em;
    padding-bottom: 5%;
    user-select: none;
    &__marks-list {
        overflow-y: auto;
        height: 70%;
        width: 100%;
        margin-top: 0.5em;
        padding: 0 0.5em 0.5em 0.5em;
        li {
            font-size: 0.85em;
            padding: 0.2em;
            display: inline-block;
        }
        li:not(.add-mark):hover {
            color: rgb(228, 183, 187);
        }
        .add-mark {
            color: #e06c75;
        }
    }
    &__marks-list::-webkit-scrollbar {
        width: 4px;
    }

    &__marks-list::-webkit-scrollbar-track {
        border-bottom: 2px solid #e06c75;
        border-top: 2px solid #e06c75;
    }

    &__marks-list::-webkit-scrollbar-thumb {
        background: #939393;
    }

    &__marks-list::-webkit-scrollbar-thumb:hover {
        background: #7c7c7c;
    }
    &__btn-close {
        cursor: pointer;
        position: absolute;
        top: 3%;
        right: 3%;
        padding: 5px;
        width: 14%;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        font-size: 1vw;
        font-family: Consolas;
        width: 100%;
        margin: 5% 0;
        text-align: center;
        line-height: 1em;
    }
    &__mark-add {
        width: 85%;
        height: 10%;
        margin: 0 auto;
        padding-right: 10%;
        position: relative;
    }
    &__mark-add-npt {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid rgb(228, 183, 187);
        border-radius: 2px;
        color: #abb2bf;
        font-size: 0.8em;
        padding-left: 5%;
        padding-right: 25%;
    }
    &__mark-add-btn {
        background-color: transparent;

        position: absolute;
        color: #e06c75;
        right: 15%;
        height: 100%;
        font-size: 0.8em;
    }
    &__mark-add-btn:hover {
        color: rgb(228, 183, 187);
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.todo-del-selected {
    opacity: 0.3;
}

.checkbox-label {
    width: 80%;
    padding: 1em 0 1em 1.3em;
    font-size: 1.2vw;
    position: relative;
}
.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkbox-fake {
    position: absolute;
    margin-left: -1.3em;
    margin-top: 0.1em;
    width: 0.8em;
    height: 0.8em;
    box-shadow: 0 0 0 0.1em #e06c75;
    border-radius: 0.2em;
}

.checkbox:checked + .checkbox-fake {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 45.701 45.7' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M20.687,38.332c-2.072,2.072-5.434,2.072-7.505,0L1.554,26.704c-2.072-2.071-2.072-5.433,0-7.504 c2.071-2.072,5.433-2.072,7.505,0l6.928,6.927c0.523,0.522,1.372,0.522,1.896,0L36.642,7.368c2.071-2.072,5.433-2.072,7.505,0 c0.995,0.995,1.554,2.345,1.554,3.752c0,1.407-0.559,2.757-1.554,3.752L20.687,38.332z' fill='%2398c389' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
